body {
    font-family:Verdana;
    font-size:12px;
}
h1 {
    font-size:14px;
    font-weight:bold;
}
canvas {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 270px;
    z-index: 1050;
}
#source {
    display: none;
}
